h1 {
    color: white;
}

.par1 {
   font-family:'Courier New', Courier, monospace;
   font-size: 25px;
   color:white;
}

body {
    background-color: black;
}

li.today span {
    background-color: rgb(13, 161, 0);
    border-radius: 4px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-clip: padding-box;
}
